body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(11, 25, 51)
}

.app-container {
  color: #fbe4d8;
  max-width: 600px;
  height: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #190019;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.app-container.dark {
  background-color: #333;
  color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

header h1 {
  font-size: 24px;
}

.dark-mode-toggle {
  font-size: 16px;
  padding: 5px 10px;
  background-color: #ccc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.app-container.dark .dark-mode-toggle {
  background-color: #666;
}

/* Add more styles as needed */
