body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.app-container {
  color: #fbe4d8;
  max-width: 600px;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  background-image: linear-gradient(360deg, #190019, #2B124C, #522b5b, #854f6c, #dfb6b2, #fef4d8);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.app-container.dark {
  background-color: #333;
  color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

header h1 {
  color: black;
  font-size: 1.5rem;
  font-weight: 400;
}

.dark-mode-toggle {
  font-size: 16px;
  padding: 5px 10px;
  background: none;
  border: none;

  cursor: pointer;
}

.app-container.dark .dark-mode-toggle {
  background-color: #666;
}