.weather-card {
  color: #faf2ed;
  padding: 10px;
  text-align: center;
  font-size: 1rem;
  font-weight: 100;
}

.weather-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-card h2 {
  margin-top: .1rem;
  font-weight: 100;
  font-size: 3rem;
  margin-bottom: 0.7rem;
}

.temperature {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  font-size: 5rem;
  font-weight: 100;
  margin-bottom: 1rem;
}

.other-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 1rem;
  justify-content: center;
}

.other-info>div {
  display: flex;
  flex-direction: column;
  height: 4rem;
  align-items: center; 
  justify-content: space-between; 
  width: 13rem;
  padding: 0.5rem;
  border: solid .05rem white;
  border-radius: .7rem;
}

.other-info>div svg {
  width: 3rem;
  height: 3rem;
  margin-right: 10px;
}
.other-info>div span {
  flex-grow: 1;
  }


.feels-like {
  font-size: 1.3rem;
}

.condition {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  font-size: 1.9rem;
  font-weight: 300;
}

.condition svg {
  margin-right: 1rem;
}

.weather-card.dark {
  border-color: #666;
}

.weather-info {
  display: flex;
  flex-direction: column;
  /* Stack children vertically */
  align-items: center;
  margin-bottom: 20px;
}

.weather-details {
  font-size: 3rem;
}

.weather-details div {
  margin-bottom: 10px;
}

.weather-details div {
  margin-bottom: 10px;
}

.search-box {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.search-box svg {
  color: black;
  position: absolute;
  left: 10px;
}

.search-box input {
  background: linear-gradient(to right, #dfb6b2, #854f6c);
  color: black;
  box-sizing: border-box;
  border: none;
  height: 40px;
  padding-left: 30px;
  border-radius: 20px 0 0 20px;
  width: 100%;
  font-size: 16px;
  outline: none;
}

.searchBtn {
  cursor: pointer;
  border: none;
  background-color: #854f6c;
  font-size: 20px;
  box-sizing: border-box;
  width: 30%;
  height: 40px;
  border-radius: 0 20px 20px 0;
  outline: none;
}






/* Add more styles as needed */

/* Dark Mode */
.weather-container.dark {
  color: #fff;
}

.weather-card.dark {
  background-color: #444;
  border-color: #666;
}

.search-box.dark input {
  background-color: #333;
  border-color: #666;
  color: #fff;
}

.search-box.dark .suggestion-container {
  background-color: #444;
  border-color: #666;
}

/* Mobile Styles */
@media (max-width: 600px) {
  .weather-info {
    flex-direction: column;
  }
}