/* Styles for WeatherMap.js component */

.map-container {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .map-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .map {
    height: 300px;
    border-radius: 8px;
    overflow: hidden;
  }
  