/* Styles for WeatherForecast.js component */

.forecast-container {
    margin-top: 20px;
    padding: 10px;
    
    border-radius: 8px;
  }
  
  .forecast-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
    
  }
  
  .forecast-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  
  
  
  
